.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

li a.black-text:hover {
    color: black;
    text-decoration: none;
    font-weight: bold;
}