/*Main palette colors*/

.white {
    background-color: white !important;
}

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

.transparent-black {
    background: rgba(0, 0, 0, 0.5) !important;
}


/*Colors for specific components*/

.uk-navbar-nav li a:hover {
    background-color: #97d2fb !important;
}


/**Basic styles not in UI Kit**/

.box-shadow-right {
    box-shadow: 5px 0 5px -5px #333;
}

.box-shadow-top {
    box-shadow: 0 -5px 5px -5px #333;
}