/*Forces .validator error below box*/

.error {
    float: none;
    color: red;
    vertical-align: top;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.success {
    float: none;
    color: #4F8A10;
    margin: 2%;
    vertical-align: top;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.markdown-alert {
    background-color: #de0b17;
    padding: 3px;
    color: white;
    border-radius: 5px;
    font-size: .75em;
    font-weight: bold;
}

.price-alert {
    background-color: #f3be1f;
    padding: 3px;
    color: black;
    border-radius: 5px;
    font-size: .75em;
    font-weight: bold;
}

.good-rating {
    background-color: #29BF12;
    padding: 3px;
    color: white;
    border-radius: 5px;
    font-size: .75em;
    font-weight: bold;
}

.medium-rating {
    background-color: #f3be1f;
    padding: 3px;
    color: black;
    border-radius: 5px;
    font-size: .75em;
    font-weight: bold;
}

.bad-rating {
    background-color: #de0b17;
    padding: 3px;
    color: white;
    border-radius: 5px;
    font-size: .75em;
    font-weight: bold;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.muted-text {
    color: #6c757d;
    text-decoration: line-through;
}