/*Main palette colors*/

.primary-bk {
    background-color: #121416 !important;
}


/*#121416 */

.secondary-bk {
    background-color: #1d2023!important;
}

.accent-bk {
    background-color: #272c30 !important;
}

.light-bk {
    background-color: #2f343e !important;
}

.light-accent-bk {
    background-color: #09b0d9 !important;
}


/*Commonly used colors, defined as classes*/

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

.accent-text {
    color: #09b0d9 !important;
}

.transparent-black {
    background: rgba(0, 0, 0, 0.5);
}

.background-text {
    color: #666;
}


/*Colors for specific components*/

footer a {
    text-decoration: none;
    color: #09b0d9 !important;
}

.uk-navbar-nav li a:hover {
    background-color: #535863 !important;
    color: white;
}

a.background-text {
    text-decoration: none;
    color: #6c757d !important;
}

a.background-text:hover {
    text-decoration: none;
    color: white !important;
}