/*Forces .validator error below box*/

.error {
    float: none;
    color: red;
    vertical-align: top;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.success {
    float: none;
    color: #4F8A10;
    margin: 2%;
    vertical-align: top;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
