body {
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    width: 70% !important;
}

.centered {
    display: block;
    margin: 0 auto;
}

.header {
    font-size: 4em;
    font-weight: bold;
    text-align: center;
}

.paragraph {
    font-size: 24px;
}

.center-text {
    text-align: center;
}

.left-text {
    text-align: left;
}

.right-text {
    text-align: right;
}

.shadowed {
    box-shadow: 5px 5px 5px #888888, 5px -5px 5px #888888, -5px 5px 5px #888888;
    ;
}

.nav {
    margin: 0px;
    margin-bottom: 2%;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #b8ebd0 !important;
}