/*Main palette colors*/

.purple {
    background-color: #5B4E77!important;
}

.dark {
    background-color: #121416 !important;
}


/*Commonly used colors, defined as classes*/

.white-text {
    color: white !important;
}

.black-text {
    color: black !important;
}

.transparent-black {
    background: rgba(0, 0, 0, 0.5);
}


/*Colors for specific components*/

.uk-navbar-nav li a:hover {
    background-color: #AFA2FF !important;
}