/*Forces .validator error below box*/

.error {
    float: none;
    color: red;
    margin: 2%;
    vertical-align: top;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.success {
    float: none;
    color: #4F8A10;
    margin: 2%;
    vertical-align: top;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.page-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between
}

.autocomplete-suggestions {
    background-color: white;
}

.autocomplete-suggestion:hover {
    background-color: #97d2fb;
}