/*Main palette colors*/

.ivory {
    background-color: #e1eff6 !important;
}

.pale_pink {
    background-color: #eccbd9 !important;
}

.pale_blue {
    background-color: #97d2fb !important;
}

.white {
    background-color: white !important;
}

.lime {
    background-color: #b8ebd0 !important;
}


/*Colors for specific components*/

.uk-navbar-nav li a:hover {
    background-color: #97d2fb !important;
}


/**Basic styles not in UI Kit**/

.box-shadow-top {
    -webkit-box-shadow: 5px -3px 17px 5px rgba(0, 0, 0, 0.61);
    box-shadow: 5px -3px 17px 5px rgba(0, 0, 0, 0.61);
}