 <li class="uk-width-3-4">
    <div class="uk-panel">
        <img src="{{attribute(activity, "thumbnail")}}" style="height: 100%; width: 100%;">
        <div class="uk-position-center uk-panel" style="width: 100%;">
            <div class="uk-text-center" style="width: 100%; background: rgba(0, 0, 0, 0.5);">
                <h2>{{attribute(activity, "header")}}</h2>
                <p class="uk-text-lead">{{attribute(activity, "description")}}</p>
                <a href="{{attribute(activity, "link")}}">Find Out More</a>
            </div>
        </div>
    </div>
</li>