{% extends "base_view.twig" %}

{% block content %}
    <div class="uk-margin-large">
        <div class="uk-text-center uk-padding-small">
            <h1 class="uk-heading-large">Activities</h1>
        </div>
        <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slider="center: true">
            <ul class="uk-slider-items uk-grid">
                {% for activity in activities %}
                    {% include 'activity_slide.twig' %}
                {% endfor %}
            </ul>

            <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>
{% endblock %}