<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <title>Summer Break</title>
            <!--JQuery CDN-->
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

            <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
                integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>

            <!--JQuery Validator CDN-->
            <script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.1/dist/jquery.validate.min.js"></script>
            <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>

            <!-- UIkit CSS -->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/css/uikit.min.css" />

            <!-- UIkit JS -->
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.3.3/dist/js/uikit-icons.min.js"></script>
        {% endblock %}
    </head>

    <?php session_start(); ?>
    <body>
        <div id="header">
            {% block header %}
                <nav class="uk-navbar-container navy uk-box-shadow-large" style="padding-right: 2% !important;" uk-navbar>
                    <a class="uk-navbar-item uk-logo" href="index.php">Summer Break</a>
                    <div class="uk-navbar-right">
                        <ul class="uk-navbar-nav">
                            <li><a href="index.php" class="uk-box-shadow-hover-large">Home</a></li>
                            <li><a href="activities.php" class="uk-box-shadow-hover-large">Activities</a></li>
                            <li><a href="jokes.php" class="uk-box-shadow-hover-large">Jokes</a></li>
                        </ul>
                    </div>
                </nav>
            {% endblock %}
        </div>

        <div id="content" uk-height-viewport="expand: true">{% block content %}{% endblock %}</div>

        <div id="footer">
            {% block footer %}
               <footer class="navy box-shadow-top">
                    <hr>
                    <div class="uk-flex uk-flex-around">
                        <div style="margin-right: 2%; margin-left: 2%;">
                            <h3>Summer Break</h3>
                            <a style="color: black;" href="https://www.bhprogramsdevelopment.com">A BHPrograms Project</a>
                        </div>
                        <div style="margin-right: 2%; margin-left: 2%;">
                            <h3><a style="color: black;" href="activities.php">Activities</a></h3>
                        </div>
                        <div style="margin-right: 2%; margin-left: 2%;">
                            <h3><a style="color: black;" href="jokes.php">Jokes</a></h3>
                        </div>
                    </div>
                    <div class="uk-text-center">
                        <span>&copy; 2020 BHPrograms. All rights reserved.</span>
                    </div>
                </footer>
            {% endblock %}
        </div>
    </body>
</html>