{% extends "joke_form.twig" %}

{% block control %} {{ parent() }} <script src="controls/EditJoke.js"></script> {% endblock %}
{% block form_id %}edit_{{attribute(joke, "id")}}{% endblock %}
{% block legend %}Edit your joke{% endblock %}
{% block button_id %}edit_button{% endblock %}

{% block title %}{{attribute(joke, "title")|replace({'-': " "})}}{% endblock %}
{% block setup %}{{attribute(joke, "setup")}}{% endblock %}
{% block punchline %}{{attribute(joke, "punchline")}}{% endblock %}
{% block val %}{{attribute(joke, "id")}}{% endblock %}

{% block validate_rules %}
//Set form rules, check validity
$("#edit_{{attribute(joke, "id")}}").validate({
    rules: {
       joke_title: {
           required: true,
           minlength: 10
       },
       joke_setup: {
           required: true,
           minlength: 10
       },
       joke_punchline: {
           required: true,
           minlength: 5
       }
    }
});
{% endblock %}
