{% extends "base_view.twig" %}

{% block content %}
    <div>
        <div class="uk-background-cover uk-height-medium uk-panel uk-flex uk-flex-center uk-flex-middle"
            style="background-image: url(img/pool.jpg);" uk-height-viewport>
            <h2 class="uk-heading-large" style="color: white;">Get your Summer on</h2>
        </div>

        <div class="uk-flex uk-flex-between uk-flex-middle">
            <div class="uk-text-center uk-width-2-3">
                <h2 class="uk-heading-medium">Summer Fun</h2>
                <div style="width: 50%; margin: 0 auto;">
                    <p class="uk-text-lead">With Summer right around the corner, there's a lot of time to waste. Why not
                        waste
                        it in the best of ways, and check out some of these Summer fun activities? From staying at home, to
                        essential shopping, to staying at home, to looking out the window, or even staying home - there's a
                        lot
                        to be done! Take our lead and make the most of it.</p>
                </div>
            </div>
            <div class="uk-width-1-3"><a href="activities.php"><img src="img/icecream.jpg" style="height: 100%; width: 100%;"></a></div>
        </div>

        <div class="uk-flex uk-flex-between uk-flex-middle">
            <div class="uk-width-1-3"><a href="jokes.php"><img src="img/pineapple.jpg" style="height: 100%; width: 100%;"></a></div>
            <div class="uk-text-center uk-width-2-3">
                <h2 class="uk-heading-medium">Relax with some jokes</h2>
                <div style="width: 50%; margin: 0 auto;">
                    <p class="uk-text-lead">School is harsh, and it can be hard to destress. Why not get started with some
                        humor? Get your laugh on, or see if you can get others to.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}