{% block control %}
    <script src="controls/UpdateJokes.js"></script> 
{% endblock %}
<form id="{% block form_id %} {% endblock %}" class="uk-center-text">
        <legend class="uk-legend">{% block legend %}{% endblock %}</legend>

        <div class="uk-margin">
            <input id="joke_title" name="joke_title" class="uk-input" type="text" placeholder="{% block title %}Title{% endblock %}">
        </div>

        <div class="uk-margin">
           <textarea id="joke_setup" name="joke_setup" class="uk-textarea" rows="5" placeholder="Setup">{% block setup %}{% endblock %}</textarea>
        </div>

        <div class="uk-margin">
            <textarea id="joke_punchline" name="joke_punchline" class="uk-textarea" rows="5" placeholder="Punchline">{% block punchline %}{% endblock %}</textarea>
        </div>

        <button id="{% block button_id %}{% endblock %}" class="uk-button uk-button-default" type="button" value="{% block val %}{% endblock %}">Submit</button>
</form>

{% block validate %}
<!--Validate in .validate-->
<script type="text/javascript">
$.validator.setDefaults({
    success: "valid"
});

{% block validate_rules %}{% endblock %}
</script>

{% endblock %}