<li>
    <div class="uk-panel uk-text-center uk-box-shadow-small uk-padding-small" style="height: 100%;">
        {% if username == attribute(joke, "author") %}
            <a class="uk-position-top-right" href="" uk-icon="cog" uk-toggle="target: #{{attribute(joke, "title")}}"></a>
            <div id="{{attribute(joke, "title")}}" uk-modal class="uk-text-center">
                <div class="uk-modal-dialog uk-padding-small">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    {% include 'edit_joke.twig' %}
                    {% include 'delete_joke.twig' %}
                </div>
            </div>
        {% endif %}
        <h2 class="uk-text-break">{{attribute(joke, "title")|replace({'-': " "})}}</h2>
        <p class="uk-text-break">By {{attribute(joke, "author")}}</p>
        <ul uk-accordion="collapsible: false">
            <li> 
                <a class="uk-accordion-title uk-text-center" href="#">Setup</a>
                <div class="uk-accordion-content">
                    <p class="uk-text-break">{{attribute(joke, "setup")}}</p>
                </div>
            </li>
            <li>
                <a class="uk-accordion-title uk-text-center" href="#">Punchline</a>
                <div class="uk-accordion-content">
                    <p class="uk-text-break" >{{attribute(joke, "punchline")}}</p>
                </div>
            </li>
        </ul>
    </div>
</li>