{% extends "base_view.twig" %}

{% block content %}
<div class="uk-text-center uk-padding-small">
    <h1 class="uk-heading-large">Jokes</h1>
</div>

<div class="uk-margin-large">
<div class="uk-position-relative uk-visible-toggle uk-text-center" tabindex="-1" uk-slider>
    <ul class="uk-slider-items uk-child-width-1-2 uk-child-width-1-3@m uk-grid uk-padding-small">
       {% for joke in jokes %}
                {% include 'joke_card.twig' %}
        {% endfor %}
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next"></a>
</div>
</div>
{% endblock %}