{% extends "joke_form.twig" %}

{% block control %} {{ parent() }} <script src="controls/SubmitJoke.js"></script> {% endblock %}
{% block form_id %}submit_form{% endblock %}
{% block legend %}Submit your own joke{% endblock %}
{% block button_id %}submit_button{% endblock %}

{% block validate_rules %}
//Set form rules, check validity
$("#submit_form").validate({
    rules: {
       joke_title: {
           required: true,
           minlength: 10
       },
       joke_setup: {
           required: true,
           minlength: 10
       },
       joke_punchline: {
           required: true,
           minlength: 5
       }
    }
});
{% endblock %}
